<% content_for :title do %>
  Pomodoro-box, selecciona el tema
<% end %>

<h1> Selecciona el tema que vols preparar </h1>
<ul>
  <% @themes.each do |theme| %>
    <li> <a href="/theme/<%= theme[:code]%>"><%=theme[:name]%></a>
  <% end %>
</ul>
