<% content_for :title do %>
  Pomodoro-box, selecciona el tema
<% end %>

<h1> Selecciona el tema que vols preparar </h1>
<ul>
  <li> <a href="/theme/mat">Matemàtiques</a>
  <li> <a href="/theme/tec">Tecnologia</a>
  <li> <a href="/theme/rob">Robòtica</a>
  <li> <a href="/theme/cat">Català</a>
    <% 100.times do |t| %>
      <li> elemento <%= t %>
    <% end %>
</ul>
