<% content_for :title do %>
  Pomodoro-box, diposita el mòbil
<% end %>

<h1> Preparats, llestos... </h1>

Estem a punt de començar, diposita el mòbil a la capsa pomodoro i tanca-la,
si us plau. Quan l'hagis tancat, prem continuar...

<form method="post">
  <button type="submit" class="btn btn-primary">Continuar</button>
<form>
