<% content_for :title do %>
  Pomodoro-box, pepara el tema
<% end %>

<h1> Prepara el tema: <%= @theme_name %> </h1>

<%= @theme_content %>

<br>
<br>
<form method="post" class="d-flex" role="search">
  <button id="validatebutton" type="submit" class="btn btn-primary disabled">Fet, veiem com ha anat!</button>
<form>
